{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tezeta Treasures</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <section id="header"><a href="{% url 'web:homepage' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="" style="width: 100px;"></a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="{% url 'web:homepage' %}">Home</a></li>
            <li><a href="{% url 'web:shop' %}">Shop</a></li>
            <li><a href="{% url 'web:blog' %}">Blog</a></li>
            <li><a href="{% url 'web:about' %}">About</a></li>
            <li><a href="{% url 'web:contact' %}">Contact</a></li>
            <div class="icon-cart"><li id="lg-bag"><a href="{% url 'web:cart' %}"><i class="bi bi-bag"></i></a></li><span>0</span></div>
            <li><a href="{% url 'user_save_profile' %}"><i class="fa-solid fa-user"></i></a> </li>
            <li><a href="{% url 'user_signout' %}">Logout</a></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
       <a href="{% url 'web:cart' %}"><i class="bi bi-bag"></i></a>
       <a href="{% url 'user_save_profile' %}"><i class="fa-solid fa-user"></i></a>
       <a href="{% url 'user_signout' %}">Logout</a>
       <i id="bar" class="fa-solid fa-bars"></i>
    </div>
    </section>
          {% block index %}  {% endblock index %}
          {% block shop %}  {% endblock shop %} 
          {% block cart %}  {% endblock cart %} 
          {% block blog %}  {% endblock blog %}  
          {% block about %}  {% endblock about %} 
          {% block sproduct %}  {% endblock sproduct %} 
          {% block contact %}  {% endblock contact %}  
    <footer class="section-p1">
        <div class="col">
            <img src="{% static 'img/logo.png' %}" alt="" style="width: 100px;">
            <h4>Contact</h4>
            <p><strong>Address:</strong> Addis Ababa</p>
            <p><strong>Phone:</strong> +2519342343 / (+91) 01 2345 5433</p>
            <p><strong>Hours</strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>
            <div class="col">
                <h4>About</h4>
                <a href="#"> About us</a>
                <a href="#"> Delivery Information</a>
                <a href="#"> Privacy Policy</a>
                <a href="#"> Terms & Conditions</a>
                <a href="#"> Contact us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="#"> Sign In</a>
                <a href="#"> View Cart</a>
                <a href="#"> My Wishlist</a>
                <a href="#"> Track My Order</a>
                <a href="#"> Help</a>
            </div>
            <div class="copyright">
                <p>2024, Tezeta - Jewelary Shop</p>
            </div>
     </footer>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>
