{% extends "base.html" %}
{% load static %} 
{% block blog %}       
    <section id="page-header" class="blog-header">
        <h2>#ReadMore</h2>
        <p>Read all case studies about our products! </p>
    </section>

    <section id="blog">
        <div class="blog-box">
            {% for blog_post in blog_posts %}
            <div class="blog-img">
                <img src="{{blog_post.image.url}}" alt="{{blog_post.title}}">
            </div>
            <div class="blog-details">
                <h4>{{ blog_post.title }}</h4>
                <p>{{ blog_post.description }}</p>
                <a href="#">Continue Reading</a>
            </div>
            <h1>{{ blog_post.posted_date }}</h1>
        </div>
        {% endfor %} 
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
    </section>

     <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your emial address">
            <button class="normal">Sign Up</button>
        </div>
     </section>
  {% endblock blog %} 