{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Checkout Page</title>
     <link rel="stylesheet" href="{% static 'checkout.css' %}">
</head>

<body>
    <!-- Add this div at the end of your HTML body -->
<div id="successPopup" class="popup success-popup" style="display: none;">
    <p>Your order is placed successfully!</p>
  </div>  

  <div id="errorPopup" class="popup error-popup" style="display: none;">
    <p>Please fill in all required fields.</p>
</div>
    <div class="close-button" onclick="closeContainer()"><i class="fa-solid fa-circle-xmark"></i></div>
    <div class="container">
        <div class="left">
            <p>Payment Methods</p>
            <hr>
            <div class="methods">
                <div onclick="doFun()" id="tColorA" style="color: rgb(255, 220, 47);"><i class="fa-solid fa-credit-card"
                        style="color: rgb(255, 220, 47);"></i>Payment By Card</div>
                <div onclick="doFunA()" id="tColorB"><i class="fa-solid fa-building-columns"></i>Internet Banks</div>
                <div onclick="doFunB()" id="tColorC"><i class="fa-solid fa-wallet"></i>Tele-birr / M-Pesa</div>
                <hr>
            </div>
        </div>
        <div class="center">
            <a href="https://www.shift4shop.com/credit-card-logos.html">
                <img src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" width="250" height="auto"
                    alt="Credit Card" title="Credit Card Logos">
            </a>
            <hr>
            <form action="{% url 'web:process_order' %}" id="cardPaymentForm" method="post" onsubmit="validateForm(event, 'cardPaymentForm')">
                {% csrf_token %}
                <div class="card-details">
                    <p>Card Number</p>
                    <div class="c-number" id="c-number">
                        <div class="cc-number">
                            <input type="text" id="number" placeholder="Card number" minlength="15" maxlength="19" required>
                        </div>
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                    <div class="c-details">
                        <div>
                            <p>Expiry date</p>
                            <input type="text" id="e-date" class="cc-exp" placeholder="MM/YY" length="5" required>
                        </div>
                        <div>
                            <p>CVV</p>
                            <div class="cvv-box" id="cvv-box">
                                <input type="text" id="cvv" class="cc-cvv" placeholder="CVV" required maxlength="3">
                                <i class="fa-solid fa-circle-question" title="3 digits on the back of the card"
                                    style="cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="email">
                        <p>Email</p>
                        <input type="email" placeholder="example@gmail.com" id="email" name="email" required>
                    </div>
                    <input type="hidden" name="item_name" id="item_name">
                    <input type="hidden" name="total" id="total">
                    <input type="hidden" name="img" id="img">
                    <input type="hidden" name="size" id="size">
                    <input type="hidden" name="quantity" id="quantity">
                    <input type="hidden" name="payment_method" id="payment_method">               
                </div>
                <button type="submit" id="cardPaymentButton">PAY NOW</button>
                </form>
                <form action="{% url 'web:process_order' %}" id="telebirrPaymentForm" method="post" style="display: none;" onsubmit="validateForm(event, 'telebirrPaymentForm')">
                <!-- Tele-birr / M-Pesa Section -->
                {% csrf_token %}
                <div class="telebirr-section">
                    <div class="telebirr-section-title" style="padding-bottom: 30px; font-weight: bold; font-size: larger;">Tele-birr / M-Pesa Details</div>
                    <div class="telebirr-details">
                        <p>Tele-birr / M-Pesa Number</p>
                        <input type="text" id="telebirr-number" class="telebirr-number" placeholder="Enter your Tele-birr / M-Pesa number" required>
                        <p style="padding-top: 20px;">Amount</p>
                        <input type="text" id="telebirr-amount" class="telebirr-amount" placeholder="Enter the payment amount" required>
                    </div>
                </div>
                <div class="email">
                    <p>Email</p>
                    <input type="email" placeholder="example@gmail.com" id="email" name="email" required>
                </div>
                <input type="hidden" name="item_name" id="item_name">
                <input type="hidden" name="total" id="total">
                <input type="hidden" name="img" id="img">
                <input type="hidden" name="size" id="size">
                <input type="hidden" name="quantity" id="quantity">
                <input type="hidden" name="payment_method" id="payment_method">        
                <button type="submit" id="telebirrPaymentButton" style="display: none;">PAY NOW</button>
            </form>
            <form action="{% url 'web:process_order' %}" id="bankPaymentForm" method="post" style="display: none;" onsubmit="validateForm(event, 'bankPaymentForm')">
                {% csrf_token %}
                <!-- Bank Payment Section  -->
                <div class="bank-section">
                    <div class="payment-section-title">Bank Details</div>
                    <div class="bank-details">
                        <p>Bank Name</p>
                        <input type="number" id="bank-name" class="bank-name" placeholder="Enter your bank name" required>
                        <p style="padding-top: 30px;">Account Number</p>
                        <input type="number" id="account-number" class="account-number"
                            placeholder="Enter your account number" required>
                        <p style="padding-top: 30px;">Routing Number</p>
                        <input type="number" id="routing-number" class="routing-number"
                            placeholder="Enter your routing number" required>
                    </div>
                </div>
                <div class="email">
                    <p>Email</p>
                    <input type="email" placeholder="example@gmail.com" id="email" name="email" required>
                </div>
                <input type="hidden" name="item_name" id="item_name">
                <input type="hidden" name="total" id="total">
                <input type="hidden" name="img" id="img">
                <input type="hidden" name="size" id="size">
                <input type="hidden" name="quantity" id="quantity">
                <input type="hidden" name="payment_method" id="payment_method">       
                <button type="submit" id="bankPaymentButton" style="display: none;">PAY NOW</button>
            </form>
        </div>
        <div class="right">
            <p class="order-info">Order Information</p>
            <hr>
            <div class="details">
                <div style="font-weight: bold; padding: 3px 0;">Order description</div>
                <div class="order-item" width="100px">
                </div>
            </div>
            <hr>
            <a href="https://www.shift4shop.com/credit-card-logos.html">
                <img src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" width="100%" height="auto"
                    alt="Credit Card" title="Credit Card Logos">
            </a>
            <div class="order-summary">
                <p>Order Summary</p>
                <hr>
                <div class="order-item-summary" style="padding: 20px;">
                    <p style="padding: 1px;">Subtotal: <span class="all-item-subtotal"></span><br></p>
                    <p style="padding: 1px;">Tax: <span class="items-tax"></span><br></p>
                    <p style="padding: 1px;">Shipping: <span class="item-shipping"></span><br></p>
                    <p style="padding: 1px; text-align: right;">Total: <span class="item-total"></span><br></p>
                 </div>
            </div>
        </div>
    </div>
 <script>
    let tColorA = document.getElementById('tColorA'),
    tColorB = document.getElementById('tColorB'),
    tColorC = document.getElementById('tColorC'),
    iconA = document.querySelector('.fa-credit-card'),
    iconB = document.querySelector('.fa-building-columns'),
    iconC = document.querySelector('.fa-wallet'),
    cDetails = document.querySelector('.card-details'),
    telebirrSection = document.querySelector('.telebirr-section');
    bankSection = document.querySelector('.bank-section');

function doFun() {
    tColorA.style.color = "rgb(255, 220, 47)";
    tColorB.style.color = "#444";
    tColorC.style.color = "#444";
    iconA.style.color = "rgb(255, 220, 47)";
    iconB.style.color = "#aaa";
    iconC.style.color = "#aaa";
    cDetails.style.display = "block";
    telebirrSection.style.display = "none";
    bankSection.style.display = "none";
        // Show card payment button and hide others
document.getElementById('cardPaymentButton').style.display = 'block';
document.getElementById('telebirrPaymentButton').style.display = 'none';
document.getElementById('bankPaymentButton').style.display = 'none';
}

function doFunA() {
    tColorA.style.color = "#444";
    tColorB.style.color = "rgb(255, 220, 47)";
    tColorC.style.color = "#444";
    iconA.style.color = "#aaa";
    iconB.style.color = "rgb(255, 220, 47)";
    iconC.style.color = "#aaa";
    cDetails.style.display = "none";
    telebirrSection.style.display = "none";
    bankSection.style.display = "block";
// Show telebirr payment button and hide others
document.getElementById('cardPaymentButton').style.display = 'none';
document.getElementById('telebirrPaymentButton').style.display = 'none';
document.getElementById('bankPaymentButton').style.display = 'block';
}

function doFunB() {
    tColorA.style.color = "#444";
    tColorB.style.color = "#444";
    tColorC.style.color = "rgb(255, 220, 47)";
    iconA.style.color = "#aaa";
    iconB.style.color = "#aaa";
    iconC.style.color = "rgb(255, 220, 47)";
    cDetails.style.display = "none";
    telebirrSection.style.display = "block";
    bankSection.style.display = "none";
                    // Show bank payment button and hide others
document.getElementById('cardPaymentButton').style.display = 'none';
document.getElementById('telebirrPaymentButton').style.display = 'block';
document.getElementById('bankPaymentButton').style.display = 'none';
}
 </script>
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'checkout.js' %}"></script>
</body>

</html>
