{% extends "base.html" %} 
{% load static %}
{% block index %}  
    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off! </p>
        <a href="{% url 'web:shop' %}"><button>Shop Now</button></a>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{% static 'img/features/f1.jpg'%}" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f2.jpg' %}" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f3.jpg' %}" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f4.jpg' %}" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f5.jpg' %}" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="{% static 'img/features/f6.jpg' %}" alt="">
            <h6>F24/7 Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modren Desgin</p>
         <div class="pro-container">
            <div class="pro1 pro">
                {% for product in products %}
                <img src="{{ product.product_image.url }}" alt="" class="r-img">
                <div class="des">
                    <span class="Category">{{ product.category }}</span>
                    <h5 class="product">{{ product.product_name }}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="shop-price">${{ product.product_price }}</h4>
                    <h4 style="display: none;">Product Details</h4>
                <span style="display: none;" class="main-desc">{{ product.description }}</span>
                </div>
                <a href="#"><i class="bi bi-cart3 cart"></i></a>
             </div>
             {% endfor %} 
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off</span> - All rings & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>New Arrivals</h2>
        <p>Summer Collection New Modren Desgin</p>
         <div class="pro-container">
            <div class="pro1 pro">
                {% for product in products %}
                <img src="{{ product.product_image.url }}" alt="" class="r-img">
                <div class="des">
                    <span class="Category">{{ product.category }}</span>
                    <h5 class="product">{{ product.product_name }}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="shop-price">${{ product.product_price }}</h4>
                    <h4 style="display: none;">Product Details</h4>
                <span style="display: none;" class="main-desc">{{ product.description }}</span>
                </div>
                <a href="#"><i class="bi bi-cart3 cart"></i></a>
             </div>
             {% endfor %} 
        </div>
    </section>

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best classic dress is on sale at Tezeta</span>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>Spring/Summer</h4>
            <h2>Upcoming season</h2>
            <span>The best classic dress is on sale at Tezeta</span>
            <button class="white">Collections</button>
        </div>
    </section>

     <section id="banner3">
        <div class="banner-box">
            <h2>SEASONAL SALE</h2>
            <h3>Winter Collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2">
            <h2>NEW FOOTWEAR COLLECTION</h2>
            <h3>Spring/Summer 2024</h3>
        </div>
        <div class="banner-box banner-box3">
            <h2>Bracelets</h2>
            <h3>New Trendy Neckles</h3>
        </div>
     </section>

     <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your emial address">
            <button class="normal">Sign Up</button>
        </div>
     </section>
     {% endblock index %}